:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #f0932b;
  --bs-secondary: #6c757d;
  --bs-success: #1dd1a1;
  --bs-info: #0dcaf0;
  --bs-warning: #f6e58d;
  --bs-danger: #eb4d4b;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 240, 147, 43;
  --bs-secondary-rgb: 108,117,125;
  --bs-success-rgb: 29, 209, 161;
  --bs-info-rgb: 13,202,240;
  --bs-warning-rgb: 246, 229, 141;
  --bs-danger-rgb: 235, 77, 75;
  --bs-light-rgb: 248,249,250;
  --bs-dark-rgb: 33,37,41;
  --bs-white-rgb: 255,255,255;
  --bs-black-rgb: 0,0,0;
  --bs-body-color-rgb: 33,37,41;
  --bs-body-bg-rgb: 255,255,255;
}

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  font-family:'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.vertical {
  writing-mode: vertical-lr;
}

.finished {
  text-decoration: line-through;
}


.matrix {
  display: grid;
  grid-template-columns: 32px repeat(2, 1fr);
  grid-template-rows: 32px repeat(2, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  justify-items: stretch;
}
  
  .matrix-item1 { grid-area: 1 / 2 / 2 / 3; }
  .matrix-item2 { grid-area: 1 / 3 / 2 / 4; }
  .matrix-item3 { grid-area: 2 / 1 / 3 / 2; }
  .matrix-item4 { grid-area: 3 / 1 / 4 / 2; }
  .matrix-item5 { grid-area: 2 / 2 / 3 / 3; }
  .matrix-item6 { grid-area: 2 / 3 / 3 / 4; }
  .matrix-item7 { grid-area: 3 / 2 / 4 / 3; }
  .matrix-item8 { grid-area: 3 / 3 / 4 / 4; }